.homePageContainer {
  display: flex;
  flex-direction: column;
  grid-template-columns: 280px 2fr;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.mainContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.upcomingMusicSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  height: 100%;
  width: 100%;
  order: 5;
}
