.rapperList-outter-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  height: 300px;
  width: 250px;
}

.rapperList-inner-div {
  margin: 10px;
  padding: 1px;
  border: 10px solid #bbb;
  background-color: yellowgreen;
}

.header-size-two {
  font-size: 2em;
}

.rapperList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.rapperList-item {
  display: flex;
  list-style-type: none;
  /* Removes bullets */
  padding: 0;
  /* Removes default padding */
  margin: 0;
  /* Removes default margin */
  /* background-color: purple; */
  font-size: 10px;
}

.rapperButton {
  background-color: #007bff;
  /* Blue background */
  color: white;
  /* White text */
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  /* Fully rounded */
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rapperButton:hover {
  background-color: #0056b3;
}
