:root {
  --bg-color: #0a0a0a;
  --card-bg: #141414;
  --text-main: #858181; /*<--- neet to change later */
  --text-dim: #a0a0a0;
  --accent: #ffffff; /* Minimalist White-on-Black */
  --error: #ff4d4d;
  --success: #00e676;
  --border: #2a2a2a;
  --radius: 8px;
  --transition: all 0.2s ease-in-out;
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
