.lodingText {
  font-size: 18px;
  color: #555;
  text-align: center;
}

.errorContainer {
  margin: 20px;
  padding: 10px;
  border: 1px solid red;
  background-color: #f8d7da;
  border-radius: 5px;
}

.errorText {
  color: red;
  font-weight: bold;
  text-align: center;
}

.loginButton {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.notLoggedInContainer {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

/* .notLoggedInText {
  text-align: center;
} */

.loginButton:hover {
  background-color: #45a049; /* Darker green on hover */
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f8f9fa; /* Light background for contrast */
  min-height: 100vh; /* Full height to cover the viewport */
}
.profileTitle {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.profileDetails {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}
.profileDetails p {
  margin: 10px 0;
  font-size: 18px;
  color: #555;
}





.homeButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.homeButton:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.dashboardButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #6c757d; /* Bootstrap secondary color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.dashboardButton:hover {
  background-color: #5a6268; /* Darker shade on hover */
}